<div class="product-review">
  <p>
    <%= review.user.first_name %>
    <%= review.rating %> / 5
  </p>
  <% unless review.description == '' || review.description.nil? %>
  <p><%= review.description %></p>
  <% end %>
</div>
